h1#lipud{
    position: absolute;
    top: 0px;
    left: 50%;
}

#eesti{
    width: 330px;
    height: 210px;
    border: 1px solid grey;
    border-spacing: 0;
    /*border-collapse: collapse;*/
    position: absolute;
    top: 0px;
    left: 50%;
}
#eesti tr:nth-child(1) {
    background-color: blue;
}
#eesti tr:nth-child(2) {
    background-color: black;
}
#eesti tr:nth-child(3) {
    background-color: white;
}
#rootsi{
    width: 330px;
    height: 210px;
    border: 1px solid grey;
    border-spacing: 0;
    /*border-collapse: collapse;*/
}
#rootsi tr:nth-child(2) {/*2 rida*/
    background-color: gold;
    height: 50px;
}
#rootsi tr:nth-child(1) tr:nth-child(1),
#rootsi tr:nth-child(3) tr:nth-child(1){
    background-color: blue;
    width: 100px;
}
#rootsi tr:nth-child(1) tr:nth-child(3),
#rootsi tr:nth-child(3) tr:nth-child(3){
    background-color: blue;
    width: 200px;
}
#rootsi tr:nth-child(1) tr:nth-child(3),
#rootsi tr:nth-child(3) tr:nth-child(3){
    background-color: gold;
}
#roots{
    width: 330px;
    height: 210px;
    border: 1px solid grey;
    border-spacing: 0;
    /*border-collapse: collapse;*/

}
#roots tr:nth-child(1) {
    background-color: darkblue;
}
#roots tr:nth-child(2) {
    background-color: white;
}
#roots tr:nth-child(3) {
    background-color: brown;
}
#sveits{
    width: 210px;
    height: 300px;
    border: 1px solid grey;
    border-spacing: 0;
    /*border-collapse: collapse;*/
background-color: red;
}
